<div class="filter">
    <div class="row">
        <div class="col-12">
            <label for="brandName" class="form-label">Renk Tablosu</label>
            <table class="table">
                <thead>
                    <tr>
                        <th>Color Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let color of colorList">
                        <td>{{color.name}}</td>
                        <td> <button class="btn btn-danger" (click)="deleteColor(color)">SİL</button></td>
                        <td><button class="btn btn-success" (click)="writeColor(color)" (click)="openLg(colorUpdateContent)">GÜNCELLE</button></td>
                    </tr>
                </tbody>
            </table>

            <form [formGroup]="colorAddForm">
                <ng-template #colorContet let-modal>
                    <div class="modal-header popUpTitle">
                        <h6 class="modal-title " id="modal-basic-title">Yeni Renk Ekle</h6>
                        <button type="button" class="btn-close" aria-label="Close"
                            (click)="modal.dismiss('Cross click')"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <div class="mb-3"><label for="name">
                                    <h6>Renk Adı</h6>
                                </label>
                                <div class="form-group">
                                    <input type="text" id="name" formControlName="name" class="form-control"
                                        placeholder="Renk" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')"
                            (click)="addColor()">Oluştur</button>
                    </div>
                </ng-template>

                <button class="btn btn-outline-primary mb-3 btn-lg mt-3 " (click)="openLg(colorContet)">
                    <h6>Renk Ekle</h6>
                </button>
            </form>



          <form [formGroup]="updateColorForm">
                <ng-template #colorUpdateContent let-modal>
                    <div class="modal-header popUpTitle">
                        <h6 class="modal-title " id="modal-basic-title">Renk Güncelle</h6>
                        <button type="button" class="btn-close" aria-label="Close"
                            (click)="modal.dismiss('Cross click')"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <div class="mb-3"><label for="name">
                                    <h6>Renk Adı</h6>
                                </label>
                                <div class="form-group">
                                    <input type="text" id="name" formControlName="name" class="form-control"
                                        placeholder="Renk" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')"
                            (click)="updateColor()">Güncelle</button>
                    </div>
                </ng-template>
            </form>
        </div>
    </div>
</div>